body{
  background-color: gray;
}


.formDisplay{
  margin-left: 300px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.assignmentMakeButton{
  color: white;
  background-color: blue;
  height: 30px;
  border-radius: 15px;
}